
::before, ::after {
	padding: 3px;
	border: 1px solid black;

    font-size: 15px;
    font-weight: 300;
    color: black;
    font-family: monospace;
	background-color: white;
}

::after {
	position: absolute;
	bottom: -10px;
	left: 10px;
}
::before {
	position: absolute;
	top: -10px;
	left: 10px;
}

main:hover::before {
	content: "<main>";	
}

main:hover::after {
	content: "</main>";	
}


header:hover::before {
	content: "<header>";	
}

header:hover::after {
	content: "</header>";	
}


h1:hover::before {
	content: "<h1>";	
}

h1:hover::after {
	content: "</h1>";	
}


h2:hover::before {
	content: "<h2>";	
}

h2:hover::after {
	content: "</h2>";	
}

h3:hover::before {
	content: "<h3>";	
}

h3:hover::after {
	content: "</h3>";	
}

h4:hover::before {
	content: "<h4>";	
}

h4:hover::after {
	content: "</h4>";	
}


nav:hover::before {
	content: "<nav>";	
}

nav:hover::after {
	content: "</nav>";	
}

a:hover::before {
	content: "<a\00a0href=\"\">";	
}

a:hover::after {
	content: "</a>";	
}


section:hover::before {
	content: "<section>";	
}

section:hover::after {
	content: "</section>";	
}


div:hover::before {
	content: "<div>";	
}

div:hover::after {
	content: "</div>";	
}


article:hover::before {
	content: "<article>";	
}

article:hover::after {
	content: "</article>";	
}

p:hover::before {
	content: "<p>";	
}

p:hover::after {
	content: "</p>";	
}

aside:hover::before {
	content: "<aside>";	
}

aside:hover::after {
	content: "</aside>";	
}

ol:hover::before {
	content: "<ol>";	
}

ol:hover::after {
	content: "</ol>";	
}

ul:hover::before {
	content: "<ul>";	
}

ul:hover::after {
	content: "</ul>";	
}

li:hover::before {
	content: "<li>";	
}

li:hover::after {
	content: "</li>";	
}

footer:hover::before {
	content: "<footer>";	
}

footer:hover::after {
	content: "</footer>";	
}

section:hover::before {
	content: "<section>";	
}

section:hover::after {
	content: "</section>";	
}

em:hover::before {
	content: "<em>";	
}

em:hover::after {
	content: "</em>";	
}

strong:hover::before {
	content: "<strong>";	
}

strong:hover::after {
	content: "</strong>";	
}

blockquote:hover::before {
	content: "<blockquote>";	
}

blockquote:hover::after {
	content: "</blockquote>";	
}

figure:hover::before {
	content: "<figure>";	
}

figure:hover::after {
	content: "</figure>";	
}

img:hover::before {
	content: "<img>";	
}

img:hover::after {
	content: "</img>";	
}

figcaption:hover::before {
	content: "<figcaption>";	
}

figcaption:hover::after {
	content: "</figcaption>";	
}

