* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}


body {
	font-family: sans-serif;
}

body * {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;

  position: relative;
}

h1 {
}

a {
	display: inline-block;
}


.container-flex {
	display: flex;
	flex-direction: row;
}

article {
	flex: 1;
}

aside {
	width: 30%;
}


