
<!-- corps d'un article -->
<section class="content">
	<section class="abstract">
		<p>Content of abstract.</p>
	</section>
	<section class="corps">
		<p class="epigraph">
			Content of epigraph.
			<span class="author">author quoted by this epigraph</span>
		</p>
		
		<section class="level1">
			<h2>Introduction</h2>
			<p></p>

			<h2>Part 1</h2>
			<p>
				Part 1 introduction.
			</p>
			<h3>Subpart (a)</h3>
			<p>
				Subpart (a) development.
			</p>
			<blockquote>
				Blockquote in subpart 1-(a).
			</blockquote>
		</section>
		<h3>Subpart (b)</h3>
		<figure>
			<img src="" alt="" title="">
			<figcaption>
				<span>Caption of the figure</span>
				<a href="">Browse this resource in BK</a>
			</figcaption>
		</figure>
		<p>
			Subpart (b) development.
			<a href="#fn1" class="fn" id="tofn1">[n]</a>
		</p>
	</div>
	<section id="bibliography" class="references">
		<h2>Bibliographie</h2>
		<ul>
			<li class="reference">
				<span class="author">Firstname Lastname</span>
				<span class="title">Title</span>
				<span class="subtitle">Subtitle</span>
				<span class="published_in">Name of the if article</span>
				<span class="date"></span>
				<span class="publisher"></span>
				<span class="place"></span>
				<a href="#">permalink</a>
			</li>
		</ul>
	</section>
	<hr>
	<section class="footnotes">
		<ul>
			<li class="footnote" id="fn1">
				<span class="index">n.</span>
				<p>
					Content of footnote(n).
					<a href="#tofn1">&crarr; back to text</a>
				</p>
			</li>
		</ul>
	</section>
</section>