body{
	font-family: serif;
	margin: 0; padding: 0;
	width: 100%; height: auto;
	overflow-x: hidden; overflow-y: auto;
}
main{}
article, form{
	margin-top: 128px;
	background-color: white;
	padding: 1rem;
}

div.toggle > div:last-of-type{
	display: none;
	background-color: rgba(0,0,0,0.1);
}
div.toggle > div > h3{cursor: pointer;color: orangered;}
div.toggle > div > h3:after{
	content: "+";
	padding: 4px;
	margin-left: 4px;
	font-size: 1rem;
	color: orangered;
}
div.active > div > h3{cursor: pointer;color: orangered;}
div.active > div:last-of-type{
	display: inline-block;
}
div.active > div > h3:after{
	content: "-";
	padding: 4px;
	margin-left: 4px;
	font-size: 1rem;
	color: orangered;
}

section.level1, section.level2{
	background-color: rgba(0,0,0,0.1);
	margin-left: 1rem;
}

@media screen and (max-width: 540px) {
	body{
		background-color: lightpink;
	}
	main{
		margin: auto 1rem;
		width: calc(100% - 2rem);
	}
}

@media screen and (min-width: 541px) {
	body{
		background-color: lightblue;
	}
	main{
		margin: auto auto;
		width: 512px;
	}
}